@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Beiruti:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mada:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Zain:wght@200;300;400;700;800;900&display=swap');
:root {
  font-family: 'Mada', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(29, 28, 28, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: 'Mada', sans-serif;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-family: 'Mada', sans-serif;

  min-height: 100vh;
}
label {
  user-select: unset;
}
h1 {
  font-size: 3.2em;
  font-family: 'Mada', sans-serif;
  white-space: unset;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Mada', sans-serif;
  background-color: hsl(0, 0%, 10%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  color: #1a1a1a;
  font-family: 'Mada', sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.question {
  margin-bottom: 20px;
  text-align: start;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type='radio'] {
  margin-right: 10px;
}
strong {
  color: #f100b5;
  padding: 1px 2px 5px 111px;
  text-shadow: #000000 1px 1px2px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f100b5;
  color: rgb(255, 255, 255);

  transition: background-color 0.3s;
}

button:hover {
  color: white;
  background-color: #1a1a1a;
}

#result {
  margin-top: 20px;
}
.app {
  text-align: center;
}
